@import "./scss/colors";
@import "./scss/navbar";
@import "./scss/mixins";
@import "./scss/utils";
@import "./scss/prices";
@import "./scss/registry";

.main-container {
}

.container-snap {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

  & section {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.section-1 {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  &__sideblock_l {
    height: 100vh;

    &-logo {
      width: 70%;
      max-width: 300px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__sideblock_r {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-image {
      width: 90%;
      transition: 0.2s ease-in-out;
      filter: drop-shadow(5px 0px 10px rgba(102, 102, 102, 0.361));
    }
  }

  & .navigation {
    &-container {
    }

    &-list {
      list-style: none;
      padding-right: 2rem;

      &__item {
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $primary-color;
          color: #000;
        }

        & > a {
          color: #fff;
          font-size: x-large;

          display: block;
          padding: 0.5rem;
          text-decoration: none;

          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }

  @include md {
    &__sideblock_l {
      width: 25%;
    }

    &__sideblock_r {
      justify-content: flex-end;
      align-items: end;
      padding: 0 4em 2em 0;
      width: 75%;

      &-image {
        width: min(900px, 66vw);
      }
    }
  }

  @include lg {
    &__sideblock_r {
      &-image {
        width: 50vw;
      }
    }
  }
}

.section-2 {
  padding: 4em 0;

  & > div.container-md {
    height: 100%;
  }
}

@include md { 
  // Custom sizes
  .section-2, .section-3 {
    height: 50vh !important; 
  }

  .section-3 {
    scroll-snap-align: end !important;
  }
}

.section-5{
  height: 240vh !important;
}

@include md{
  .section-5{
    height: 100vh !important;
  }
}

.section-6{
 height: 35vh !important;
}
.section-7{
  height: 13vh !important;

  &-bg{
    display: none;
  }

  &-logo{
    height: 80px;
  }
  &__sideblock-r{
    display: flex;
    justify-content: center !important;
  }
}

@include md { 
  // Custom sizes
  .section-6{
    height: 30vh !important; 
  }
  .section-7 {
    height: 20vh !important; 
    &-logo {
      max-height: 90px;
    }
    &-bg{
      display: block;
      max-height: 176px;
    }
    &__sideblock-r{
      display: flex;
      justify-content: space-between !important;
      align-items: center;
    }
  }

  .section-7 {
    scroll-snap-align: end !important;
  }
  .text-styling{
    letter-spacing: 4px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .text-point{
    font-size: 18pt !important;
    padding-bottom: 15px;
  }
}

// custom by ID
#movil_innboard {
  max-height: 420px;
}



